/* ===========================================================
This file contains base styles and CSS variables for the App
==============================================================*/

:root {
    --bg-color: #f8f9fa;
    --card-color: #ffffff;
    --text-primary: #202124;
    --text-secondary: #5f6368;
    --border-color: #e0e0e0;
    --accent-color: #1a73e8;
    --radio-color: rgba(93, 153, 232, 0.247);

    --radius: 12px;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-primary);
}